
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
}

.searchContainer {
  height: 0%;
}

.searchBar {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;

    &:hover{
    width: 400px;
    cursor: pointer;
    }

    &:hover input{
        display: block;
    }

    &:hover .fa{
        background: #07051a;
        color: white;
    }
    .fa{
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    border: 0px;
    background-color: white;
}
}

input{
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding:  0 0 0 0px;
}

.listContainer {
  width: 100%;
  height: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media only screen and (min-width: 768px) {
  .listContainer {
    flex-direction: row;
    max-width: 70%;
  }
  .results {
    width: 500px;
  }
  .pastSearches {
    width: 300px;
  }
}

.pastSearches, .results {
  margin: 1rem;
  padding: 0.5rem 1rem;
  min-height: 50%;
  border-radius: 1rem;
  text-align: left;
  max-width: 500px;
  h3 {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  ul {
  list-style-type: none;
  padding: 0;

  li {
    text-align: left;
    margin-left: 0.5rem;
  }
}
}
.pastSearches {
  background-color: ivory;
  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.results {
  background-color: ivory;
}
